[user]
	email = 121588258+86LAK@users.noreply.github.com
	name = 86LAK
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
	autocrlf = input
[push]
	default = current
